.add {
    display: flex;
    width: 85%;
    justify-content: flex-end;
}

.add a {
    text-decoration: none;
    height: 20px;
    font-weight: bold;
    font-size: 17px;
    width: auto;
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(238, 238, 238);
    display: flex;
    color: #ffffff;
    border-radius: 5px;
    background: #414c6f;
}
