.exception{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 600px;
}

.exception-code{
    font-size: 250px;
    font-weight: bold;
    color: red;
}

.exception-message{
    font-size: 70px;
    font-weight: bold;
    color: red;
}