@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
*{
    padding: 0px;
    margin: 0px;
}
.form{
    align-content: center;
    justify-content: center;
    background: #252F48;
}
.in-form{
    display: flex;
    font-weight: bold;
    margin: 10px 20% 10px 20%;
    flex-direction: column;
    align-content: center;
}
.in-form input,textarea{
    display: flex;
    font-size: 17px;
    padding: 5px 0px 5px 0px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 20px;
    background: #E9EFF6;
    color: #EDB749;
    text-align: center;
}
.in-form input::placeholder{
    color: #9d999d;
}
 select{
    display: flex;
    font-size: 17px;
    font-weight: bold;
    align-content: center;
    padding: 5px 0px 5px 0px;
    height: 35px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #9d999d;
}
.multi-select{
    display: flex;
    justify-content: space-around;
    height: 95px;
    font-size: 17px;
    font-weight: bold;
    align-content: center;
    padding: 5px 0px 5px 0px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #9d999d;
}
.in-form button{
    height: 35px;
    font-size: 17px;
    font-weight: bold;
    color: #9d999d;
    border-radius: 5px;
}
.in-form option{
    border-radius: 10px;
    outline: none;
    color: blueviolet;
    align-content: center;
}